# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

#==========================
# build outputs
#==========================
dist/
build/
