# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

#==========================
# build outputs
#==========================
code_script.js
dist/
build/
