version: '3'
services:
  # MongoDB 服務
  mongo:
    image: mongo:latest
    container_name: mongodb_container
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # 這是你的 Node.js 程式
  backend:
    build: .
    # 載入環境變數檔案
    env_file:
      - .env
    # 自動重啟：當機或重開機後會自動爬起來
    restart: unless-stopped

    # 唯讀
    read_only: true

    # 告訴 backend 要依賴 mongo，確保 mongo 先啟動
    depends_on:
      - mongo
    
    # [安全設定 2] 資源限制：防止 C++ 編譯把伺服器操爆
    # 注意：這能防止惡意程式耗盡資源導致你無法 SSH 進伺服器救火
    deploy:
      resources:
        limits:
          cpus: '0.50'    # 限制最多用 50% CPU (依你主機核心數調整，0.5 代表半顆核心)
          memory: 1G    # 限制最多用 1G RAM
          # 限制行程數量 (防 Fork Bomb)
          # 限制這個容器最多只能同時跑 128 個程式，超過就開不起來
          pids: 128

    # 2. 安全性增強 (Security Opts)
    # 拿掉所有 Linux 特權，讓容器更安全
    cap_drop:
      - ALL
    # 必須把切換使用者的權限加回來，不然 server.js 無法降級成 sandboxuser
    cap_add:
      - SETUID
      - SETGID

    # 注意：這裡不需要 ports 對外暴露 3000，因為只有 Nginx 需要跟它連線

    # 讓後端容器的 /public 資料夾跟外面的 /public 資料夾同步
    # 這樣 C++ 產生的檔案才會出現在你電腦上，Nginx 才讀得到。

    # 雖然上面設了唯讀，但我們必須 "開洞" 給需要寫入的地方
    volumes:
      # A. 前端靜態檔：設為 :ro (Read-Only)，防止被竄改
      - ./public:/usr/src/app/public:ro

      # B. 暫存編譯區：這是 server.js 唯一需要寫入的地方
      # 我們把它掛載為一個 "tmpfs" (記憶體暫存區) 或 "一般 volume"
      # 這樣既能寫入，重開機後資料又會自動清空，非常適合你的需求
      - /usr/src/app/tmp

    # 暫存資料夾設定 (選用，但推薦)
    # 因為 read_only: true 會讓 /tmp 也變唯讀，導致某些 Linux 指令失效
    # 所以我們要配給它一個暫時的寫入區
    tmpfs:
      # 你的應用程式暫存區 (限制大小)
      - /usr/src/app/tmp:size=64M,mode=1777,exec
      
      # 系統預設暫存區 (建議也加上 mode=1777，避免權限問題)
      - /tmp:mode=1777
      
      # 系統運行區
      - /run

  # 這是 Nginx 伺服器
  nginx:
    image: nginx:latest
    # Nginx 也要自動重啟，不然掛了網站就打不開了
    restart: unless-stopped
    
    ports:
      - "80:80" # 對外開放標準網頁 Port 80
    volumes:
      # 把你的設定檔掛進去
      - ./nginx.conf:/etc/nginx/nginx.conf
      # 把靜態檔案掛進去給 Nginx 讀 (對應 public 資料夾)
      - ./public:/usr/share/nginx/html
    depends_on:
      - backend

# 宣告資料卷
volumes:
  mongo-data: